*.csv
SetupScript/__pycache__/

SetupScript/\.vscode/launch\.json

SetupScript/\.vscode/

SplitDataset/\.vscode/settings\.json

SplitDataset/__pycache__/

\.DS_Store

SetupScript/\.ipynb_checkpoints/

SplitDataset/\.vscode/

SetupScript/RNN/__pycache__/

*.png
